<div class="center hero-unit">
<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<div>
<p2>
 Биолог: 
 <a href = "https://vk.com/id179559484" > Печникова Надежда Александровна</a>
</p2>
</div>
<div>
<p2> Химик:
<a href = "https://vk.com/balaenoptera_musculus" > Печникова Анна Александровна</a>
</p2>
</div>
<div>
<p2> Физик:
<a href = "https://vk.com/id55357025" > Печникова Лидия Александровна</a>
</p2>
</div>
 <p>
	Более подробную информацию о нас узнавайте на  
	<a href = "https://www.youtube.com/?gl=RU" > youtube </a>
	также посетите нас и на 
	<a href = "https://www.facebook.com/"> facebook </a>
</p>
</div>

<%= link_to image_tag("preview-logo-nasa.png", alt: "The Point of Singularity"), 'https://vk.com/club15086197' %>




