<% provide(:title, 'About Us') %>
<h1> The Point of Singularity </h1>
<p>
	Более подробную информацию о нас узнавайте на каналах 
	<a href = "https://www.youtube.com/?gl=RU" > you tube </a>
	также посетите нас и на фейсбуке 
	<a href = "https://www.facebook.com/"> facebook </a>.
</p>
	



