<% provide(:title, 'Help') %>
<h1>Help</h1>
 <p>
    Ответственный по всем вопросам 
	<a href = "https://vk.com/id55357025"> Lydia Teufel</a>
	Также задать вопрос можно в группе 
	<a href = "https://vk.com/club15086197"> точка сингулярности</a>
	Ждем
 </p>


