@import "bootstrap";

$lightGray: #999;

/* universal */
html {
	overflow-y:scroll;
}

body {
	padding-top:160px;
}

section {
	overflow:auto;
}

textarea {
	resize:vertical;
}

.center{
	text-align:center;
  h1 {
	margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 2;
}

h1 {
  font-size: 3.8em;
  letter-spacing: -2px;
  margin-bottom: 120px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: justify;
  font-weight: normal;
  color: $lightGray;
}

p2, p1, p3 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: justify;
  font-weight: normal;
  color: $lightGray;
}



p {
  font-size: 2em;
  line-height: 2em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color:  #f2efe5 ;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

&:hover {
  color:  #9966CC ;
  text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGray;
 a {
  color: #555;
&:hover {
  color: #222;
  }
}
small {
  float: left;
}

ul {
  float: right;
  list-style: none;
 ul li {
  float: left;
  margin-left: 10px;
    }
  }
}