<footer class="footer">
  <small>
    <a href="https://vk.com/club15086197">The Point of Singularity</a>
    by SP
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://vk.com/club15086197">News</a></li>
    </ul>
  </nav>
</footer>